<h3 class="bg-dark p-2 mb-0 rounded-top text-white"><%= @chat_room.name %></h3>
<div class="border mb-1 overflow-auto" style="height: 50vh;" id="chat_messages_area">
  <%#= render @chat_messages %>
</div>